NET "SPWM" LOC = "F9" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 ;
NET "DIRA" LOC = "D11" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 ;
NET "CLKIN" LOC = "C9" |IOSTANDARD = LVCMOS33 ;
NET "CLKIN" PERIOD = 20.0ns HIGH 40%;

 