NET "PWMU" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "PWMV" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "PWMW" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "DIRU" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "DIRV" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "DIRW" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "CLKIN" LOC = "C9" |IOSTANDARD = LVCMOS33 ;
NET "CLKIN" PERIOD = 20.0ns HIGH 40%;

 